/* index.js styling*/
body{
  background-color: #484343f5;
}

/* app.js styling*/
.App{
  text-align: center;
  width: 100%;
}
.heading{
  color: white;
  font-size: 3rem;
  font-family:  monospace;
}
.button-group button{
  height: 40px;
  font-family: monospace;
  font-size: 1.5em;
  width: 150px;
}
.music-container {
  display: inline-flex;
}
.instruments-list {
  list-style: none;
  color: white;
  width: 10rem;
  margin: 0;
  padding: 0;
}
.instruments-list li {
  height: 3.125rem;
  width: 100%;
  margin: 0;
  padding: 0px 0px;
  text-align: center;
  text-transform: capitalize;
}

/* grid.js styling*/
.matrix{
  height: 30rem;
  width: 36rem;
  background-color: #F1F5F8;
  display: inline-block;
  border: 5px #8795A1 solid;
}
.matrix .row{
  display: table;
  position: relative;
}
.matrix .cell{  
  height: 2.9rem;
  cursor: pointer;
  display: table-cell;margin: 0;
  border: 0.075rem solid #3D4852;
  width: 3rem;

  opacity: 0.95;
}
.matrix .cell:hover{
  opacity: 0.6;
}
.matrix .cell.active{
  box-shadow: inset 0px 0px 20px 1.5px rgba(0,0,0,0.5);
}
.matrix .cell:active{
  opacity: 1;
}
