/* index.js styling*/
body{
  background-color: #484343f5;
}

/* app.js styling*/
.App{
  text-align: center;
  width: 100%;
}
.heading{
  color: white;
  font-size: 3rem;
  font-family:  monospace;
}

.button-group button{
  height: 40px;
  font-family: monospace;
  font-size: 1.5em;
  width: 150px;
}

/* grid.js styling*/
.matrix{
  height: 30rem;
  width: 36rem;
  background-color: #F1F5F8;
  display: inline-block;
  border: 5px #8795A1 solid;
}
.matrix .row{
  display: table;
  position: relative;
}
.matrix .cell{  
  height: 2.9rem;
  cursor: pointer;
  display: table-cell;margin: 0;
  border: 0.075rem solid #3D4852;
  width: 3rem;

  opacity: 0.95;
}
.matrix .cell:hover{
  opacity: 0.6;
}
.matrix .cell:active{
  opacity: 1;
}